@import 'modern-normalize';

:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;

  --font-family:
    'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;

  --transition-duration: 300ms;
  --transition-function: ease-in-out;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  font-family: var(--font-family);
  color: var(--main);
  background-color: var(--white);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
  user-select: text;
  caret-color: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 64px;
  }
}
